services:
  db:
    image: mysql:8
    container_name: akkb_mysql
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: akkb
      MYSQL_USER: akkb
      MYSQL_PASSWORD: akkb
    ports:
      - "3306:3306"   # хост:контейнер (внутри всегда 3306) [web:330]
    volumes:
      - mysql_data:/var/lib/mysql
  api:
    build: .
    env_file: .env
    depends_on:
      - db
    restart: unless-stopped

  nginx:
    image: nginx:alpine
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./deploy/nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - /etc/letsencrypt:/etc/letsencrypt:ro
    depends_on:
      - api
    restart: unless-stopped

volumes:
  db-data:
